.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

.remove-all {
  height: 35px;
  width: 95px;
  border-radius: 7px;
  border-color: #0b69ff;
  background-color: #0b69ff;
  color: white;
  font-size: 15px;
  text-align: center;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .remove-all {
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */

.price-total {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .price-total {
    align-self: center;
  }
}
